@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --pure-black: #000;
  --light-grey: #dfdfdf;
  --white: #fff;
}

/* Gradiant */
/* rgb(255, 197, 147),28°, 100%, 79%  */
/* rgb(188, 113, 152),	329°, 36%, 59% */
/* rgb(90, 119, 255)	229°, 100%, 67% */

/* body {
  background: rgb(255, 197, 147);
  background: linear-gradient(
    13deg,
    rgba(255, 197, 147, 1) 79%,
    rgba(188, 113, 152, 1) 59%,
    rgba(90, 119, 255, 1) 67%
  );
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

/* navigation */

.nav {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 2.8rem;
}

.nav-list {
  list-style: none;

  display: flex;
  gap: 3.7rem;
}

.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
}

/* main banner */

.section-create {
  display: flex;
  margin: 0 auto;
  max-width: 144rem;
}

.section-create-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--pure-black);
  color: var(--white);
  padding: 0 11rem;
}

.section-create-img {
  width: 60%;
}

.section-create-img img {
  width: 100%;
  min-height: 100%;
}

/* section-stories */

.section-stories {
  display: flex;
  margin: 0 auto;
  max-width: 144rem;
}

.section-stories-img {
  width: 60%;
}

.section-stories-img img {
  width: 100%;
  min-height: 100%;
}

.section-stories-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 11rem;
}

/* section-design */

.section-design {
  display: flex;
  margin: 0 auto;
  max-width: 144rem;
}

.section-design-text {
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 11rem;
}

.section-design-img {
  width: 60%;
}

.section-design-img img {
  width: 100%;
  min-height: 100%;
}

/* section-stories-list */

.section-stories-list {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.section-stories-list div {
  /* width: 25%; */
  height: auto;
  color: var(--white);

  width: 100%;
}

.mountains {
  background: url("./assets/stories/desktop/mountains.jpg");
  background-size: cover;
  padding-top: 26.5%;
  padding-left: 4rem;
}

.cityscapes {
  background: url("./assets/stories/desktop/cityscapes.jpg");
  background-size: cover;
  padding-top: 26.5%;
  padding-left: 4rem;
}

.voyage {
  background: url("./assets/stories/desktop/18-days-voyage.jpg");
  background-size: cover;
  padding-top: 26.5%;
  padding-left: 4rem;
}

.architecturals {
  background: url("./assets/stories/desktop/architecturals.jpg");
  background-size: cover;
  padding-top: 26.5%;
  padding-left: 4rem;
}

/* section-features */

.section-features {
  width: 100%;
  margin: 0 auto;
  max-width: 111rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* footer */
.footer {
  background-color: var(--pure-black);
  color: var(--white);

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-template-columns: 18% 10% 38% 30%;
  row-gap: 8.4rem;

  padding: 6.4rem;
}

.footer-invite button {
  color: #fff;
  background: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
}

.footer-logo {
  grid-row: 1/2;
  grid-column: 1/2;
}

.footer-links {
  grid-row: 2/3;
  grid-column: 1/2;
}

.footer-social {
  grid-row: 1/3;
  grid-column: 2/3;
}

.footer-social ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.footer-invite {
  grid-row: 1/2;
  grid-column: 4/5;
}

.footer-copyright {
  grid-row: 2/3;
  grid-column: 4/5;
}

/*  */

.section-stories-gallery {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section-stories-gallery div {
  height: auto;
  color: var(--white);
  width: 25%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-size: cover;
  padding-top: 16.5%;
  padding-left: 4rem;
}

.tour {
  background: url("./assets/stories/desktop/world-tour.jpg");
}

.corners {
  background: url("./assets/stories/desktop/unforeseen-corners.jpg");
}

.africa {
  background: url("./assets/stories/desktop/king-on-africa.jpg");
}

.nowhere {
  background: url("./assets/stories/desktop/trip-to-nowhere.jpg");
}

.sea {
  background: url("./assets/stories/desktop/rage-of-the-sea.jpg");
}

.waves {
  background: url("./assets/stories/desktop/behind-the-waves.jpg");
}

.waters {
  background: url("./assets/stories/desktop/calm-waters.jpg");
}

.milky {
  background: url("./assets/stories/desktop/milky-way.jpg");
}

.forest {
  background: url("./assets/stories/desktop/dark-forest.jpg");
}

.beauty {
  background: url("./assets/stories/desktop/somwarpet.jpg");
}

.dreams {
  background: url("./assets/stories/desktop/land-of-dreams.jpg");
}
