@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --pure-black: #000;
  --light-grey: #dfdfdf;
  --white: #fff;
}

/* Gradiant */
/* rgb(255, 197, 147),28°, 100%, 79%  */
/* rgb(188, 113, 152),	329°, 36%, 59% */
/* rgb(90, 119, 255)	229°, 100%, 67% */

/* body {
  background: rgb(255, 197, 147);
  background: linear-gradient(
    13deg,
    rgba(255, 197, 147, 1) 79%,
    rgba(188, 113, 152, 1) 59%,
    rgba(90, 119, 255, 1) 67%
  );
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

/* navigation */

.nav {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 1.6rem;
}

.nav-list {
  list-style: none;

  display: flex;
  gap: 3.7rem;
}

.nav-list li {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--pure-black);
}

.nav-btn {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--white);
  background-color: var(--pure-black);
  border: none;
  padding: 1.2rem 2.4rem;
  text-transform: uppercase;

  cursor: pointer;
}

/* main banner */

.section-create {
  display: flex;
  margin: 0 auto;
  max-width: 144rem;
}

.section-create-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--pure-black);
  color: var(--white);
  padding: 0 11rem;
}

.section-create-text h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;

  margin-bottom: 2.1rem;
}

.section-create-text p {
  font-size: 1.5rem;
  font-weight: 400;

  margin-bottom: 4.8rem;
  opacity: 0.6;
}

.section-create-text button {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;

  text-transform: uppercase;
  background: none;
  border: none;
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;

  cursor: pointer;
}

.section-create-img {
  width: 60%;
}

.section-create-img img {
  width: 100%;
  min-height: 100%;
}

/* section-stories */

.section-stories {
  display: flex;
  margin: 0 auto;
  max-width: 144rem;
}

.section-stories-img {
  width: 60%;
}

.section-stories-img img {
  width: 100%;
  min-height: 100%;
}

.section-stories-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 11rem;
}

.section-stories-text h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;

  margin-bottom: 2.1rem;
}

.section-stories-text p {
  font-size: 1.5rem;
  font-weight: 400;

  margin-bottom: 4.8rem;
  opacity: 0.6;
}

.section-stories-text button {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;

  text-transform: uppercase;
  background: none;
  border: none;
  color: var(--pure-black);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;

  cursor: pointer;
}

/* section-design */

.section-design {
  display: flex;
  margin: 0 auto;
  max-width: 144rem;
}

.section-design-text {
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 11rem;
}

.section-design-text h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;

  margin-bottom: 2.1rem;
}

.section-design-text p {
  font-size: 1.5rem;
  font-weight: 400;

  margin-bottom: 4.8rem;
  opacity: 0.6;
}

.section-design-text button {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;

  text-transform: uppercase;
  background: none;
  border: none;
  color: var(--pure-black);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;

  cursor: pointer;
}

.section-design-img {
  width: 60%;
}

.section-design-img img {
  width: 100%;
  min-height: 100%;
}

/* section-stories-list */

.section-stories-list {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.storie-item {
  color: var(--white);
  width: 100%;

  padding-bottom: 4rem;
}

.topic {
  font-size: 1.8rem;
  font-weight: 700;

  margin-bottom: 0.4rem;
}

.name {
  font-size: 1.3rem;
  font-weight: 400;

  margin-bottom: 1.6rem;
}

.stories-text {
  width: 90%;
  border-bottom: 0.1rem solid var(--white);
  margin-bottom: 2rem;
}

.stories-btn {
  width: 90%;
  border: none;
  background: none;
  color: var(--white);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.mountains {
  background: url("./assets/stories/desktop/mountains.jpg");
  background-size: cover;
  padding-top: 26.5%;
  padding-left: 4rem;
}

.cityscapes {
  background: url("./assets/stories/desktop/cityscapes.jpg");
  background-size: cover;
  padding-top: 26.5%;
  padding-left: 4rem;
}

.voyage {
  background: url("./assets/stories/desktop/18-days-voyage.jpg");
  background-size: cover;
  padding-top: 26.5%;
  padding-left: 4rem;
}

.architecturals {
  background: url("./assets/stories/desktop/architecturals.jpg");
  background-size: cover;
  padding-top: 26.5%;
  padding-left: 4rem;
}

/* section-features */

.section-features {
  width: 100%;
  margin: 0 auto;
  max-width: 111rem;

  padding: 12rem 0;
  text-align: center;

  color: var(--pure-black);

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.row-one,
.row-two {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature img {
  margin-bottom: 4.8rem;
}

.middle img {
  margin-bottom: 8.8rem;
}

.feature h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
  opacity: 0.6;
}

/* footer */
.footer {
  background-color: var(--pure-black);
  color: var(--white);

  padding: 6.4rem;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  max-width: 110.4rem;

  display: grid;
  align-content: flex-start;
  justify-items: flex-end;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 20% 18% 27.3% 30%;
  row-gap: 8.4rem;
}

.footer-invite button {
  color: #fff;
  background: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
}

.footer-logo {
  grid-row: 1/2;
  grid-column: 1/2;
}

.footer-links {
  grid-row: 2/3;
  grid-column: 1/2;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3rem;

  cursor: pointer;
}

.footer-social {
  grid-row: 1/3;
  grid-column: 2/3;
}

.footer-social ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.footer-social ul li {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  cursor: pointer;
}

.footer-social ul li a {
  text-decoration: none;
  color: var(--white);
}

.footer-invite {
  grid-row: 1/2;
  grid-column: 4/5;

  justify-self: flex-end;
}

.footer-invite button {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #fff;
  background: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  background: none;
  border: none;
  text-transform: uppercase;

  cursor: pointer;
}

.footer-copyright {
  grid-row: 2/3;
  grid-column: 4/5;

  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.5;

  justify-self: flex-end;
}

/* section-stories-banner */

.section-stories-banner {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;
  background: url("./assets/stories/desktop/moon-of-appalacia.jpg");
  background-size: cover;
  padding-top: 25%;
  padding-bottom: 12rem;

  color: var(--white);
}

.section-container {
  margin: 0 auto;
  width: 90%;
}

.stories-above-heading {
  font-size: 1.2rem;
  font-weight: 700;

  margin-bottom: 2.4rem;
}

.stories-heading {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;

  margin-bottom: 1.6rem;
}

.below-stories-heading {
  font-size: 1.3rem;
  font-weight: 400;

  opacity: 0.6;

  margin-bottom: 2.4rem;
}

.below-stories-heading .proba {
  opacity: 1;
}

.stories-banner-text {
  font-size: 1.5rem;
  font-weight: 400;

  opacity: 0.6;

  margin-bottom: 2.4rem;
}

.stories-banner-btn {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #fff;
  background: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  background: none;
  border: none;
  text-transform: uppercase;

  cursor: pointer;
}

/* section-stories-gallery */

.section-stories-list {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.gallery-item {
  color: var(--white);
  width: 100%;
  padding-bottom: 4rem;

  display: flex;
  justify-content: flex-start;
}

.topic {
  font-size: 1.8rem;
  font-weight: 700;

  margin-bottom: 0.4rem;
}

.name {
  font-size: 1.3rem;
  font-weight: 400;

  margin-bottom: 1.6rem;
}

.gallery-item .gallery-text {
  width: 90%;
  border-bottom: 0.1rem solid var(--white);

  padding-left: 0;
  margin-bottom: 2rem;
}

.gallery-item .stories-btn {
  width: 90%;
  border: none;
  background: none;
  color: var(--white);
  text-transform: uppercase;

  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.section-stories-gallery {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-stories-gallery div {
  width: 25%;
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 17.2%;
  padding-left: 2rem;
}

.section-stories-gallery div div {
  width: 100%;
}

.section-stories-gallery div button {
  display: block;
  /* margin-left: 2rem; */
}

.tour {
  background: url("./assets/stories/desktop/world-tour.jpg");
}

.corners {
  background: url("./assets/stories/desktop/unforeseen-corners.jpg");
}

.africa {
  background: url("./assets/stories/desktop/king-on-africa.jpg");
}

.nowhere {
  background: url("./assets/stories/desktop/trip-to-nowhere.jpg");
}

.sea {
  background: url("./assets/stories/desktop/rage-of-the-sea.jpg");
}

.running {
  background: url("./assets/stories/desktop/running-free.jpg");
}

.waves {
  background: url("./assets/stories/desktop/behind-the-waves.jpg");
}

.waters {
  background: url("./assets/stories/desktop/calm-waters.jpg");
}

.milky {
  background: url("./assets/stories/desktop/milky-way.jpg");
}

.forest {
  background: url("./assets/stories/desktop/dark-forest.jpg");
}

.beauty {
  background: url("./assets/stories/desktop/somwarpet.jpg");
}

.dreams {
  background: url("./assets/stories/desktop/land-of-dreams.jpg");
}

/* features */

.features-banner {
  display: flex;
  margin: 0 auto;
  max-width: 144rem;
}

.features-banner-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--pure-black);
  color: var(--white);
  padding: 0 11rem;
}

.features-banner-text h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;

  margin-bottom: 2.1rem;
}

.features-banner-text p {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.6;
}

.features-banner-img {
  width: 60%;
}

.features-banner-img img {
  width: 100%;
  min-height: 100%;
}

.section-invite {
  margin: 0 auto;
  width: 100%;
  max-width: 144rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6.8rem 0;

  background: url("./assets/shared/desktop/bg-beta.jpg");
  background-size: cover;

  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0.6rem;
  border-style: solid;
  border-image: linear-gradient(
    13deg,
    rgba(255, 197, 147, 1) 79%,
    rgba(188, 113, 152, 1) 59%,
    rgba(90, 119, 255, 1) 67%
  );
  border-image-slice: 1;
}

.section-invite-heading {
  width: 26%;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  color: var(--white);
  text-transform: uppercase;
}

.section-invite-btn {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;

  text-transform: uppercase;
  background: none;
  border: none;
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;

  cursor: pointer;
}

/* pricing */

.pricing-banner {
  display: flex;
  margin: 0 auto;
  max-width: 144rem;

  margin-bottom: 12rem;
}

.pricing-banner-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--pure-black);
  color: var(--white);
  padding: 0 11rem;
}

.pricing-banner-img {
  width: 60%;
}

.pricing-banner-img img {
  width: 100%;
  min-height: 100%;
}

.section-pricing {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;

  text-align: center;

  margin-bottom: 16rem;
}

.monthly-yearly-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-box {
  display: flex;
}

.pricing-basic {
}

.pricing-pro {
}

.pricing-business {
}

.section-compare {
  width: 100%;
  margin: 0 auto;
  max-width: 73rem;
}

.section-compare div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.compare-heading {
  text-align: center;
  margin-bottom: 5.6rem;
}
